body{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/244/822/357/food-tomatoes-sauces-steak-wallpaper-preview.jpg);
}
.recipes{
    
    border: none;
    color: rgb(2, 57, 2); background-color: rgba(245, 222, 179, 0.626);
}