* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    --emerald1: 94, 234, 212;

}

.container {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
}

header {
    background-color: black;
    grid-area: 1/5/6/25;
}

aside {
    background-color: black;
    grid-area: 1/1/25/5;
    font-size: 2rem;
    color: white;
    display: grid;
    grid-template-rows: repeat(12, 5%);
}

aside>div {
    display: flex;
    align-items: center;
    margin: 2rem 0 0 2rem;
}

aside>div:first-child {
    align-items: normal;
}

main {
    grid-area: 6/5/25/25;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 11fr;
    border: 10px solid rgb(var(--emerald1));
    margin: 0 1rem 1rem 0;
    border-radius: 10px;
    box-shadow: 0 0 5px white;
}

.projects {
    background-color: rgb(var(--emerald1));
    display: grid;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 1rem;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-area: 2/2/3/3;
}

.projects::-webkit-scrollbar {
    width: 12px;
}

.projects::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.projects::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.projects::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #0ea5e9;
}

.card {
    border: 2px white solid;
    height: 23rem;
}

.yourP {
    display: flex;
    align-items: end;
    font-size: 2rem;
    padding-bottom: 1rem;
    color: white;
    background-color: rgb(var(--emerald1));
    grid-area: 1/2/2/3;
}

.announcements {
    display: flex;
    align-items: end;
    font-size: 2rem;
    padding-bottom: 1rem;
    color: white;
    background-color: rgb(var(--emerald1));
    grid-area: 1/1/2/2;
    
}

.others {
    background-color: rgb(var(--emerald1));
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.aCard {
    border: 2px solid white;
    width: 80%;
    height: 100%;
    margin: auto;
}

.trend {
    overflow:hidden;
}

.tCard {
    border: 2px solid white;
    width: 80%;
    height: 80%;
    margin: auto;
}

.tP {
    font-size: 2rem;
    color: white;
    margin-bottom: 8px;
}